<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy BookCafe 2021</span>
    </div>
</footer>
<!-- <script src="/scripts/search.js" async defer></script> -->